
@{
    ViewData["Title"] = "GrilleProgramme";
}
    <div id="global_wrapper">
        <div id="wrapper">
            <section class="list_programme list_programme_direct full">
                <div class="live_title">
                    <div class="content_section">
                        <div class="margin_section">
                            <strong>La grille de vos programmes !</strong>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">              
                <div class="row">
                    <div>
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#zozanTV1grille" data-toggle="tab">Zozan TV1</a></li>
                                    <li><a href="#zozanTV2grille" data-toggle="tab">Zozan TV2</a></li>                                 
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="zozanTV1grille">
                                        <div class="row">
                                            <div class="col-md-2" style="width:50%">
                                                <div class="card" style="width: 18rem;" >
                                                    <a href="/Video/NomVideo">
                                                        <img src="/images/13355-full.png" class="card-img-top">
                                                    </a>
                                                </div>
                                                <div></div>
                                            </div>
                                            <div class="col-md-2" style="width:50%">
                                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="zozanTV2grille">
                                        <div class="row">
                                            <div class="col-md-2" style="width:50%">
                                                <div class="card" style="width: 18rem;">
                                                    <img src="/images/13355-full.png" class="card-img-top">
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:50%">
                                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                            </div>
                        </div>
                    </div>
                </div>

