@{
    ViewData["Title"] = "Home Page";
}

<div id="global_wrapper">
    <div id="wrapper">
        <section class="list_programme list_programme_direct full">
            <div class="live_title">
                <div class="content_section">
                    <div class="margin_section">
                        <h1>Les Directs - TEST</h1>
                        <strong>Zozan TV</strong>
                        <p> Retrouvez nos deux chaines en direct ! </p>
                    </div>
                </div>
            </div>
            <div class="content_section">
                <div class="margin_section">
                   <div class="container_list swipe_div" >
                       <ul id="entete" class="grid col-desktop-2 col-tablet-2">
                           <li style="margin:0; width:49.5%">
                               <a id="headChannel_0" class="gotoFrame" href="#0">
                                   <div class="logo_top">
                                       <div class="logo_liseret">          
                                           <span class="logo_container">
                                               <span class="channel tf1"></span>
                                           </span>
                                       </div>
                                   </div>
                               </a>
                           </li>
                           <li style="margin:0;width:49.5%">
                               <a id="headChannel_1" class="gotoFrame" href="#1">
                                   <div class="logo_top">
                                       <div class="logo_liseret">
                                           <span class="logo_container">
                                               <span class="channel tf1"></span>
                                           </span>
                                       </div>
                                   </div>
                               </a>
                           </li>

                       </ul>
                       <ul id="programChannel" class="grid col-desktop-2 cik-tablet-2">
                           <li id="channel_0" style="margin:0; width:49.5%">
                               <div class="unit" style="width:100%">

                                   <div class="card-container">

                                       <div class="card">
                                           <div class="card-header">
                                               <img src="images/13355-full.png" alt="" title="" class="card-image">
                                               <h1 class="card-title">Making sense of the SCAA’s new Flavor Wheel </h1>
                                           </div>
                                           <div class="card-body">

                                           </div>
                                           <div class="card-footer">
                                               <button class="card-button">Keep reading →</button>
                                           </div>
                                       </div>

                                   </div>
                               </div>
                           </li>
                           <li id="channel_1" style="margin:0; width:49.5%">
                               <div class="unit" style="width:100%">

                                   <div class="card-container">

                                       <div class="card">
                                           <div class="card-header">
                                               <img  src="images/13355-full.png" alt="" title="" class="card-image">
                                               <h1 class="card-title">Making sense of the SCAA’s new Flavor Wheel </h1>
                                           </div>
                                           <div class="card-body">

                                           </div>
                                           <div class="card-footer">
                                               <button class="card-button">Keep reading →</button>
                                           </div>
                                       </div>

                                   </div>
                               </div>
                           </li>
                       </ul>


                   </div>
                </div>
            </div>
        </section>
    </div>
</div>
