/* Live Stream */
@{
    ViewData["Title"] = "liveStream";
}

<section id="live" class="channel_live no_padding">
    <div id="channel_live">
        <div class="filter">
            <div class="live">
                <a class="channel zozantv1" href="C:\Users\fabrp\Desktop\Ensea_Ina_Project\zozanTV\zozanTV1\zozanTV1.html">ZozanTv1</a>

                <a class="channel zozantv2" href="C:\Users\fabrp\Desktop\Ensea_Ina_Project\zozanTV\zozanTV1\zozanTV2.html">ZozanTv2</a>




            </div>
        </div>
        <div id="contentPlayer">
            <div class="slider">
                <div class="item active" style="width:1160px">
                    <div class="container">
                        <div class="iframe">
                            <div id="zonePlayer" class="playerLive">
                                <div class="playerVideo" new-player="1.0.76" data-live="1">
                                </div>
                            </div>
                        </div>
                        <div class="content" style="width:350px">
                            <div class="title">
                                <h1 class="live">Name Channel</h1>
                                <div class="time" date-format="HH:mm">HH:mm</div>
                                <p class="timeslot_title">Name Emission</p>
                            </div>
                            <div class="description">
                                <p>Description de l'émission</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
