<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetZozan</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />


    </environment>
</head>
<body>
    <header id="chaineTv__header">
        <div class="header_root">
            <div class="header_column header_left">
                <ul class="header_primary">
                    <li class="header_item header_item_logo">
                        <a class="header_item_link">
                            <!--<i id="icon_project" class="header_icon_project"></i>-->
                            <img src="/images/13355-full.png" height=55px />
                        </a>
                    </li>
                    <li class="header_item header_item_replay">
                        <a id="header_replay_btn" class="header_item_link" href="/replaysList/">
                            Replay
                        </a>
                        <nav id="header_replay">
                            <div class="header_replay_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li class="active"><a href="#user1" data-toggle="tab">Panel1</a></li>
                                                <li><a href="#user2" data-toggle="tab">Panel2</a></li>
                                                <li><a href="#user3" data-toggle="tab">Panel3</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="user1">User 1 info</div>
                                                <div role="tabpanel" class="tab-pane" id="user2">User 2 info</div>
                                                <div role="tabpanel" class="tab-pane" id="user3">User 3 info</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<section class="header_replay_last header_replay_last_full header_replay_last_default">
                                    <p class="header_replay_last_label">Les derniers replays</p>

                                </section>-->

                            </div>
                        </nav>
                    </li>
                    <li class="header_item header_item_live">
                        <a class="header_item_link" href="/">
                            <i id="icon_project" class="header_icon_project"></i>
                            Direct

                        </a>
                    </li>
                    <li class="header_item">
                        <a class="header_item_link" href="Home/GrilleProgramme">
                            <i id="icon_grille" class="header_icon_project"></i>
                            Grille des Programmes

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ProjetZozan</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
